<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
  </needed-packages>
  <files language="c++">
    <file>MeshUtils</file>
    <file>SearchBox3D</file>
    <file>StringToItemUtils</file>
    <file>VariableUtils</file>
    <file>VariableView</file>
  </files>
  <files language="c++header">
    <file>ArrayMng</file>
    <file>ArrayMngT</file>
    <file>ArrayMngTImpl</file>
    <file>MeshTypes</file>
  </files>
  <!--
  <directories>
    <directory>IXMTools</directory>
  </directories>
  -->
</makefile>