<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
    <package name="boost" />
  </needed-packages>
  <files language="service">
    <file>StandardGroupCreator</file>
  </files>
  <files language="c++header">
    <file>IGroupCreator</file>
  </files>
</makefile>
