<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
  </needed-packages>
  <files language="c++header">
    <file>IFunctor</file>
    <file>NewtonSolver</file>
    <file>lapackUtils</file>
    <file>Norme</file>
    <file>InterpolationUtils</file>
  </files>
  <directories>
    <directory>Tools</directory>
  </directories>
</makefile>
