<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
  </needed-packages>
  <files language="service">
    <file header='false'>PolylineDiscretisation</file>
  </files>
    <directories>
    	<directory>PolylineDiscretisationImpl</directory>
    	<directory>Utils</directory>
    </directories>
</makefile>