<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
    <package name="mpi" />
    <package name="ifpsolver" />
  </needed-packages>

  <files language="service">
    <file header='false'>IFPLinearSolver</file>
  </files>

  <files language="c++header">
    <file>IFPSolverProperty</file>
  </files>

</makefile>
