<?xml version="1.0" encoding="ISO-8859-1" ?>

<makefile>

  <needed-packages>
    <package name="arcane" />
  </needed-packages>
 
  <files language="service">
    <file header='false'>EuclidianGeometry2</file>
    <file header='false'>EuclidianGeometry3</file>
    <file header='false'>Euclidian2Geometry</file>
  </files>
 
</makefile>
