<arcane-config code-name="ShArc">
  <time-loops>
    <time-loop name="ArcResTimeLoop">
      <title>ArcaneDemoUnitaryTest</title>
      <description>Boucle en temps</description>
      <modules>
        <module name="ShArc" need="required"/>
        <module name="ThermoChemicalConvection" need="required" />
        <module name="PhysicalModel" need="required" />
      </modules>
      <entry-points where="init">
        <entry-point name="ThermoChemicalConvection.Init" />
        <entry-point name="ShArc.Init" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="ThermoChemicalConvection.Compute" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
