<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
    <package name="boost" />
  </needed-packages>


 <files language="c++header">
    <file>Quadratic</file>
    <file>Quadratic2D</file>
    <file>Bilinear</file>
    <file>Bilinear2D</file>
   <file>types</file>
   </files>

  <files language="c++">
    <file>RtnSpace</file>
    <file>RtnSpace2D</file>
    <file>BilinearMap</file>
    <file>BilinearMap2D</file>
    <file>QuadraticMap</file>
    <file>QuadraticMap2D</file>
  </files>

</makefile>
