<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
    <package name="boost" />
    <package name="mpi" />
    <package name="hdf5" />
  </needed-packages>
  
  <files language="c++">
    <file>ArcGeoSimUtilsRegisterer</file>
    <file>GraphBuilder</file>
    <file>HdfReader</file>
    <file>IOBuffer</file>
    <file>ItemGroupMap</file>
    <file>ItemTools</file>
    <file>MemoryAllocationTracker</file>
    <file>MeshVariableArray2NonUniformRefT</file>
    <file>ObservableProperty</file>
    <file>ParallelUtils</file>
    <file header="false">XmlCaseOptionConverter</file>
  </files>
  
  <files language="c++header">
    <file>ArcGeoSim</file>
    <file>ArrayUtils</file>
    <file>CountStampMng</file>
    <file>DataTypeUtils</file>
    <file>DefineUtils</file>
    <file>ExceptionUtils</file>
    <file>FunctionUtils</file>
    <file>IVisitor</file>
    <file>ItemComparator</file>
    <file>ItemGroupBuilder</file>
    <file>MakeDelegatedPtr</file>
    <file>MeshVarExpr</file>
    <file>MeshVariableArray2RefT</file>
    <file>MeshVariableViewRefT</file>
    <file>MixedCollectiveCommunications</file>
    <file>Optional</file>
    <file>Spy</file>
    <file>Table</file>
    <file>TupleRandomIterator</file>
    <file>Utils</file>
    <file>VMap</file>
    <file>VariableItemArray2</file>
    <file>VariableItemView</file>
    <file>VisitorT</file>
    <file>WinUtil</file>
  </files>

  <directories>
    <directory>ZoneModelMng</directory>
    <directory depend='harts, tbb'>RunTimeSystem</directory>
    <directory depend='precice'>CAWF</directory>
  </directories>

</makefile>
