<?xml version="1.0" encoding="ISO-8859-1" ?>

<makefile>

  <needed-packages>
    <package name="arcane" />
    <package name="hdf5" />
    <package name="mpi" />
  </needed-packages>

  <files language="c++">
    <file header='false'>EMeshIOService</file> 
    <file header='false'>IfpVtkMeshIOService</file>
    <!--file header='false'>IXMMeshReaderService</file-->
    <file>MeshInfo</file> 
  </files>
  
  <files language="c++header">
    <file>IDataMeshImporter</file>
  </files>
  
  

</makefile>
