<?xml version="1.0" encoding="ISO-8859-1"?>
<arcane-config code-name="ArcGeoSim">
  <time-loops>
    <time-loop name="TestLoop">
      <title>Test time loop</title>
      <description>Test time loop</description>
      <modules>
        <module name="ServiceTestMng" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>
      <entry-points where="init">
        <entry-point name="ServiceTestMng.Init" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="ServiceTestMng.Test" />
      </entry-points>
    </time-loop>
 </time-loops>
</arcane-config>
