<?xml version="1.0" encoding="ISO-8859-1"?>
<arcane-config code-name="Fraxim">
  <time-loops>

    <time-loop name="PorousMediaFlowLoop">
      <title>PorousMediaFlow</title>
      <description>Boucle en temps du module d'ecoulement en milieu poreux</description>

      <modules>
        <module name="Fraxim" need="required" />
        <module name="InitialState" need="required" />
        <module name="PorousMediaFlow" need="required" />
        <module name="ArcanePostProcessing" need="required" />
        <module name="ArcaneCheckpoint" need="required" />
        <module name="InternalDebugger" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="InitialState.Init" />
        <entry-point name="PorousMediaFlow.Init" />
        <entry-point name="Fraxim.Prepare" />
        <entry-point name="PorousMediaFlow.Prepare" />
        <entry-point name="Fraxim.Start" />
        <entry-point name="InitialState.ComputeInitialState" />
        <entry-point name="PorousMediaFlow.Start" />
        <entry-point name="Fraxim.ContinueInit" />
        <entry-point name="PorousMediaFlow.ContinueInit" />
        <entry-point name="Fraxim.ContinuePrepare" />
        <entry-point name="PorousMediaFlow.ContinuePrepare" />
        <entry-point name="Fraxim.ContinueStart" />
        <entry-point name="PorousMediaFlow.ContinueStart" />
      </entry-points>
            
      <entry-points where="on-mesh-changed">
         <entry-point name="PorousMediaFlow.UpdateAMR" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="Fraxim.StartTimeStep" />
        <entry-point name="PorousMediaFlow.ComputeVariation" />
        <entry-point name="PorousMediaFlow.ComputeDeltaT" />
        <entry-point name="PorousMediaFlow.UpdateVariables" />
        <entry-point name="PorousMediaFlow.ComputePost" />
        <entry-point name="Fraxim.EndTimeStep" />
      </entry-points>
    </time-loop>
    
    <time-loop name="PorousMediaReactiveFlowLoop">
      <title>PorousMediaFlow</title>
      <description>Boucle en temps du module d'ecoulement reactif en milieu poreux avec couplage Arxim</description>

      <modules>
        <module name="Fraxim" need="required" />
        <module name="InitialState" need="required" />
        <module name="PorousMediaFlow" need="required" />
        <module name="ArcanePostProcessing" need="required" />
        <module name="ArcaneCheckpoint" need="required" />
        <module name="InternalDebugger" need="required" />
        <module name="Geochemical" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="Fraxim.ContinueInit" />
        <entry-point name="InitialState.Init" />
        <entry-point name="PorousMediaFlow.Init" />
        <entry-point name="PorousMediaFlow.ContinueInit" />
        <entry-point name="Geochemical.Init" />
        <entry-point name="Fraxim.Prepare" />
        <entry-point name="Fraxim.ContinuePrepare" />
        <entry-point name="PorousMediaFlow.Prepare" />
        <entry-point name="PorousMediaFlow.ContinuePrepare" />
        <entry-point name="Fraxim.Start" />
        <entry-point name="Fraxim.ContinueStart" />
        <entry-point name="InitialState.ComputeInitialState" />
        <entry-point name="PorousMediaFlow.Start" />
        <entry-point name="PorousMediaFlow.ContinueStart" />
        <entry-point name="Geochemical.ComputeReactiveGroups" />
        <entry-point name="Geochemical.ComputeInitialCondition" />
      </entry-points>
            
      <entry-points where="on-mesh-changed">
         <entry-point name="PorousMediaFlow.UpdateAMR" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="Fraxim.StartTimeStep" />
        <entry-point name="PorousMediaFlow.ComputeVariation" />
        <entry-point name="PorousMediaFlow.ComputeDeltaT" />
        <entry-point name="PorousMediaFlow.ComputePhaseVelocity" />
        <entry-point name="PorousMediaFlow.UpdateVariables" />
        <entry-point name="Geochemical.StartTimeStep" />
        <entry-point name="Geochemical.Compute" />
        <entry-point name="PorousMediaFlow.ComputePost" />
        <entry-point name="Fraxim.EndTimeStep" />
        <entry-point name="Geochemical.EndCompute" />
      </entry-points>
    </time-loop>

    <time-loop name="PorousMediaFlowExportFluxLoop">
      <title>PorousMediaFlow</title>
      <description>Boucle en temps du module d'ecoulement en milieu poreux</description>

      <modules>
        <module name="Fraxim" need="required" />
        <module name="InitialState" need="required" />
        <module name="PorousMediaFlow" need="required" />
        <module name="ArcanePostProcessing" need="required" />
        <module name="ArcaneCheckpoint" need="required" />
        <module name="InternalDebugger" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="InitialState.Init" />
        <entry-point name="PorousMediaFlow.Init" />
        <entry-point name="Fraxim.Prepare" />
        <entry-point name="PorousMediaFlow.Prepare" />
        <entry-point name="Fraxim.Start" />
        <entry-point name="InitialState.ComputeInitialState" />
        <entry-point name="PorousMediaFlow.Start" />
        <entry-point name="Fraxim.ContinueInit" />
        <entry-point name="PorousMediaFlow.ContinueInit" />
        <entry-point name="Fraxim.ContinuePrepare" />
        <entry-point name="PorousMediaFlow.ContinuePrepare" />
        <entry-point name="Fraxim.ContinueStart" />
        <entry-point name="PorousMediaFlow.ContinueStart" />
      </entry-points>
            
      <entry-points where="on-mesh-changed">
         <entry-point name="PorousMediaFlow.UpdateAMR" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="Fraxim.StartTimeStep" />
        <entry-point name="PorousMediaFlow.ComputeVariation" />
        <entry-point name="PorousMediaFlow.ExportWaterFluxData" />
        <entry-point name="PorousMediaFlow.ComputeDeltaT" />
        <entry-point name="PorousMediaFlow.UpdateVariables" />
        <entry-point name="PorousMediaFlow.ComputePost" />
        <entry-point name="Fraxim.EndTimeStep" />
      </entry-points>
    </time-loop>
    
    <time-loop name="InitialState">
      <title>InitialState</title>
      <description>Boucle en temps du module d'initialisation de l'ecoulement en milieu poreux</description>

      <modules>
        <module name="Fraxim" need="required" />
        <module name="InitialState" need="required" />
        <module name="PorousMediaFlow" need="required" />
        <module name="ArcanePostProcessing" need="required" />
        <module name="ArcaneCheckpoint" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="InitialState.Init" />
        <entry-point name="PorousMediaFlow.Init" />
        <entry-point name="Fraxim.Prepare" />
        <entry-point name="PorousMediaFlow.Prepare" />
        <entry-point name="Fraxim.Start" />
        <entry-point name="InitialState.ComputeInitialState" />
        <entry-point name="PorousMediaFlow.Start" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="Fraxim.StartTimeStep" />
        <entry-point name="Fraxim.EndTimeStep" />
        <entry-point name="PorousMediaFlow.ComputePost" />
        <entry-point name="InitialState.Stop" />
      </entry-points>
    </time-loop>
    
    <time-loop name="PoroMecaLoop">
      <title>PoroMeca</title>
      <description>Boucle en temps du module d'ecoulement en milieu poreux</description>

      <modules>
        <module name="Fraxim"               need="required" />
        <module name="InitialState"         need="required" />
        <module name="PorousMediaFlow"      need="required" />
        <module name="PoroElasticity"        need="required" />
        <module name="ArcanePostProcessing" need="required" />
        <module name="ArcaneCheckpoint"     need="required" />
        <module name="InternalDebugger"     need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="InitialState.Init" />
        <entry-point name="PorousMediaFlow.Init" />
        <entry-point name="PoroElasticity.Init" />
        <entry-point name="Fraxim.Prepare" />
        <entry-point name="PorousMediaFlow.Prepare" />
        <entry-point name="PoroElasticity.Prepare" />
        <entry-point name="Fraxim.Start" />
        <entry-point name="InitialState.ComputeInitialState" />
        <entry-point name="PorousMediaFlow.Start" />
        <entry-point name="PoroElasticity.Start" />
        <entry-point name="Fraxim.ContinueInit" />
        <entry-point name="PorousMediaFlow.ContinueInit" />
        <entry-point name="Fraxim.ContinuePrepare" />
        <entry-point name="PorousMediaFlow.ContinuePrepare" />
        <entry-point name="PoroElasticity.ContinuePrepare" />
        <entry-point name="Fraxim.ContinueStart" />
        <entry-point name="PorousMediaFlow.ContinueStart" />
        <entry-point name="PoroElasticity.ContinueStart" />
      </entry-points>
            
      <entry-points where="on-mesh-changed">
         <entry-point name="PorousMediaFlow.UpdateAMR" />
        <entry-point name="PoroElasticity.UpdateAMR" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="Fraxim.StartTimeStep" />
        <entry-point name="PorousMediaFlow.ComputeVariation" />
        <entry-point name="PoroElasticity.Compute" />
        <entry-point name="PorousMediaFlow.ComputeDeltaT" />
        <entry-point name="PorousMediaFlow.UpdateVariables" />
        <entry-point name="PorousMediaFlow.ComputePost" />
        <entry-point name="PoroElasticity.UpdateVariables" />
        <entry-point name="Fraxim.EndTimeStep" />
      </entry-points>
    </time-loop>

    <time-loop name="DarcyLoop">
      <title>Darcy time loop</title>
      <description>Darcy time loop</description>
      <modules>
        <module name="Test" need="required" />
        <module name="Darcy" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>
      <entry-points where="init">
        <entry-point name="Test.Init" />
        <entry-point name="Darcy.Init" />
        <entry-point name="Darcy.Prepare" />
        <entry-point name="Test.Start" />
        <entry-point name="Darcy.Start" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="Test.Compute" />
        <entry-point name="Darcy.Compute" />
      </entry-points>
    </time-loop>
    


    <time-loop name="PoissonDebugLoop">
      <title>Poisson time loop</title>
      <description>Poisson time loop</description>
      <modules>
        <module name="ToyProblemMng" need="required" />
        <module name="ArcanePostProcessing" need="required" />
        <module name="InternalDebugger" need="required" />
      </modules>
      <entry-points where="init">
        <entry-point name="ToyProblemMng.Init" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="ToyProblemMng.Solve" />
      </entry-points>
    </time-loop>

    <time-loop name="PoissonLoop">
      <title>Poisson time loop</title>
      <description>Poisson time loop</description>
      <modules>
        <module name="Fraxim" need="required" />
        <module name="ToyProblemMng" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>
      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="ToyProblemMng.Init" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="ToyProblemMng.Solve" />
      </entry-points>
    </time-loop>

    <time-loop name="TestLoop">
      <title>Test time loop</title>
      <description>Test time loop</description>
      <modules>
        <module name="ServiceTestMng" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>
      <entry-points where="init">
        <entry-point name="ServiceTestMng.Init" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="ServiceTestMng.Test" />
      </entry-points>
    </time-loop>
    
    
    <time-loop name="FraXimTestLoop">
      <title>Test time loop</title>
      <description>Test time loop</description>
      <modules>
        <module name="Fraxim" need="required" />
        <module name="Geochemical" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>
      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="Geochemical.Init" />
      </entry-points>
      
      <entry-points where="compute-loop">
        <entry-point name="Fraxim.Test" />
      </entry-points>
    </time-loop>

    <time-loop name="AnalyticalPorousMediaFlowLoop">
      <title>AnalyticalPorousMediaFlow</title>
      <description>Boucle en temps du module d'ecoulement en milieu poreux</description>

      <modules>
        <module name="InitialState" need="required" />
        <module name="PorousMediaFlow" need="required" />
        <module name="AnalyticSolution" need="required" />
        <module name="Fraxim" need="required" />
        <module name="ArcanePostProcessing" need="required" />
        <module name="ArcaneCheckpoint" need="required" />
        <module name="InternalDebugger" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="InitialState.Init" />
        <entry-point name="PorousMediaFlow.Init" />
        <entry-point name="AnalyticSolution.Init" />
        <entry-point name="Fraxim.Prepare" />
        <entry-point name="PorousMediaFlow.Prepare" />
        <entry-point name="Fraxim.Start" />
        <entry-point name="InitialState.ComputeInitialState" />
        <entry-point name="PorousMediaFlow.Start" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="Fraxim.StartTimeStep" />
        <entry-point name="PorousMediaFlow.ComputeVariation" />
        <entry-point name="PorousMediaFlow.ComputeDeltaT" />
        <entry-point name="PorousMediaFlow.UpdateVariables" />
        <entry-point name="PorousMediaFlow.ComputePost" />
        <entry-point name="AnalyticSolution.Compute"/>
        <entry-point name="Fraxim.EndTimeStep" />
      </entry-points>
    </time-loop>
    
    
    <time-loop name="ReacteurPvtLoop">
      <title>ReacteurPvtLoop</title>
      <description>Boucle en temps du module d'ecoulement en milieu poreux pour une maille</description>

      <modules>
        <module name="Reacteur" need="required" />
        <module name="Fraxim" need="required" />
        <!--module name="ArcanePostProcessing" need="required" /-->

      </modules>

      <entry-points where="init">
        <entry-point name="Reacteur.Init" />
        <entry-point name="Fraxim.Init" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="Fraxim.StartTimeStep" />       
        <entry-point name="Reacteur.ReacteurComputation" />
        <entry-point name="Fraxim.EndTimeStep" />
      </entry-points>
    </time-loop>
    
    <time-loop name="ReacteurFlashSimLoop">
      <title>ReacteurFlashSimLoop</title>
      <description>Calcul Flash PVT pour une table (P,T)</description>

      <modules>
        <module name="Reacteur" need="required" />
        <module name="Fraxim" need="required" />
        <!--module name="ArcanePostProcessing" need="required" /-->

      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="Reacteur.InitFlashSim"/>
        <entry-point name="Fraxim.Start" />
        <!--entry-point name="Reacteur.ReacteurComputationFlashSim"/-->
      </entry-points>

      <entry-points where="compute-loop">
        <!--entry-point name="Fraxim.StartTimeStep" /-->       
        <entry-point name="Reacteur.ReacteurComputationFlashSim"/>
        <!--entry-point name="Fraxim.EndTimeStep" /-->
      </entry-points>
    </time-loop>
    
    <time-loop name="GraphAMRLoop">
      <title>GraphAMRLoop</title>
      <description>Tests combines de graphe et de AMR</description>

      <modules>
        <module name="GraphAMRTest" need="required" />
        <module name="Fraxim" need="required" />
        <module name="ArcanePostProcessing" need="required" />

      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="GraphAMRTest.Init"/>
        <entry-point name="Fraxim.Start" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="Fraxim.StartTimeStep" />       
        <entry-point name="GraphAMRTest.Compute"/>
        <entry-point name="Fraxim.EndTimeStep" />
      </entry-points>
    </time-loop>
    
    <time-loop name="MaterialBalanceLoop">
      <title>MaterialBalanceLoop</title>
      <description>Tests de material Balance</description>

      <modules>
        <module name="Fraxim" need="required" />
        <module name="MaterialBalanceTest" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="MaterialBalanceTest.Init" />
        <entry-point name="MaterialBalanceTest.ComputeMaterialBalance" />
      </entry-points>

    </time-loop>
    
    <time-loop name="MeshCleanerLoop">
      <title>MeshCleanerLoop</title>
      <description>Nettoyage d'un maillage par rapport a une proprité donné par l'utlisateur.
      exemples: 
      - par rapport a la propriete actnum: toutes les mailles mortes sont supprimees du maillage
      - par rapport au volume negatif:  toutes les mailles de volume negatif sont supprimees du maillage
      </description>

      <modules>
        <module name="MeshCleanerTest" need="required" />
        <module name="Fraxim" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="MeshCleanerTest.Init"/>
        <entry-point name="Fraxim.Start" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="Fraxim.StartTimeStep" />       
        <entry-point name="MeshCleanerTest.Compute"/>
        <entry-point name="Fraxim.EndTimeStep" />
      </entry-points>
    </time-loop>
    
    <time-loop name="MeshMergeLoop">
      <title>MeshCleanerLoop</title>
      <description>Merge de deux maillages
      </description>

      <modules>
        <module name="MeshMerge" need="required" />
        <module name="Fraxim" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="Fraxim.Init" />
        <entry-point name="MeshMerge.Init"/>
        <entry-point name="Fraxim.Start" />
      </entry-points>

      <entry-points where="compute-loop">
        <entry-point name="Fraxim.StartTimeStep" />
        <entry-point name="MeshMerge.Compute"/>
        <entry-point name="Fraxim.EndTimeStep" />
      </entry-points>
    </time-loop>
    <time-loop name="VFPTablesLoop">
      <title>VFPTablesLoop</title>
      <description>Vertical Flowing Pressure Tables unit tests
      </description>

      <modules>
        <module name="VFPTablesTest" need="required" />
      </modules>

      <entry-points where="compute-loop">
        <entry-point name="VFPTablesTest.Test"/>
      </entry-points>
      
    </time-loop>
  </time-loops>
</arcane-config>
