<?xml version="1.0" encoding="ISO-8859-1"?>
<arcane-config code-name="CooresArcane">
  <time-loops>
    <time-loop name="MeshTestDebugLoop">
			<title> MeshTest MeshTestDebug time loop</title>
			<description>MeshTestDebug time loop</description>

      <modules>
        <module name="MeshTestMng" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>

			<entry-points where="init">
        <entry-point name="MeshTestMng.Init" />
			</entry-points>

     </time-loop>


    <time-loop name="MeshTestLoop">
			<title> MeshTest time loop</title>
			<description>MeshTest time loop</description>

      <modules>
        <module name="MeshTestMng" need="required" />
        <module name="ArcanePostProcessing" need="required" />
      </modules>

			<entry-points where="init">
        <entry-point name="MeshTestMng.Init" />
			</entry-points>

     </time-loop>	
	</time-loops>
</arcane-config>
