<?xml version="1.0" encoding="iso-8859-1"?>

<makefile>

  <needed-packages>
    <package name="arcane" />
    <package name="eigen3" optional='true'/>
  </needed-packages>

  <files language="c++header">
    <file>Discretization</file>
    <file>DiscretizationConnectivityUtils</file>
  </files>

  <files language="c++">
    <file>ExtendedDoFConnectivity</file>
    <file>DiscretizationConnectivity</file>
    <file>DiscretizationGeometry</file>
  </files>

  <directories>
    <directory>Tools</directory>
    <directory>Schemes</directory>
  </directories>
</makefile>
