<?xml version="1.0" encoding="iso-8859-1"?>

<makefile depend="linux">

  <needed-packages>
    <package name="arcane" />
	<package name="boost" />
  </needed-packages>

  <files language="service">
    <file>ExpressionParser</file>
  </files>

  <files language="c++">
    <file>expression_parser</file>
    <file>expression_scanner</file>
    <file>ExpressionDriver</file>
    <file>expression</file>
  </files>

  <files language="c++header">
    <file>IXYZTFunction</file>
    <file>IExpressionParser</file>
  </files>

</makefile>
