<?xml version="1.0" encoding="iso-8859-1"?>

<makefile>

    <needed-packages>
        <package name="arcane" />
        <package name="alien" optional='true'/>
    </needed-packages>

    <files language="service">
        <file header="false">PatchGenerator</file>
    </files>

    <files language="c++">
      <file>Patch</file>
    </files>
</makefile>
