<?xml version="1.0" encoding="ISO-8859-1" ?>

<makefile>

  <needed-packages>
    <package name="arcane" />
    <package name="hdf5"/>
    <package name="mpi"/>
  </needed-packages>
  
  <files language="c++header">
    <file>Formatter</file>
    <file>VariableStrideFormatter</file>
    <file>FixedStrideFormatter</file>
    <file>NoFormatter</file>
    <file>IXM4DataNode</file>
    <file>IXM4TypeInfo</file> 
     <file>IXM4FileInfo</file> 
  </files>

  <files language="c++">
     <file>IXMMeshWriter</file>
     <file>IXMPropertyInfo</file>   
  </files>
  
</makefile>
