<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
  </needed-packages>
  <files language="service">
    <file>ExpressionMng</file>
    <file>WExpressionMng</file>
  </files>
  <files language="c++header">
    <file>IFunctionR1vR1</file>
    <file>IExpressionMng</file>
    <file>IFunctionR2vR1</file>
    <file>IIFunction</file>
    <file>IFunction</file>
    <file>IFunctionR3vR1</file>
    <file>IFunctionR4vR1</file>
  </files>
  <directories>
    <directory>FunctionParser</directory>
    <directory>ExpressionBuilder</directory>
  </directories>
</makefile>