<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
  </needed-packages>
  <files language="service">
    <file header="false">PolyhedralMeshGeometry</file>
  </files>
  <directories>
    <directory>Geom3D</directory>
    <directory>Geom3Dbis</directory>
  </directories>
</makefile>