<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
  </needed-packages>
  <files language="c++">
    <file>ExpressionBuilderR1vR1Core</file>
    <file>ExpressionBuilderR2vR1Core</file>
    <file>ExpressionBuilderR3vR1Core</file>
    <file>ExpressionBuilderR4vR1Core</file>
    <file>ExpressionBuilderR5vR1Core</file>
    <file>ExpressionBuilderR6vR1Core</file>
    <file>ExpressionBuilderR7vR1Core</file>
    <file>ExpressionBuilderR8vR1Core</file>
    <file>ExpressionBuilderR9vR1Core</file>
    <file>ExpressionBuilderR10vR1Core</file>
    <file>LocalExpressionMng</file>
  </files>
  <files language="service">
    <file header="false">ExpressionBuilderR1vR1</file>
    <file header="false">ExpressionBuilderR2vR1</file>
    <file header="false">ExpressionBuilderR3vR1</file>
    <file header="false">ExpressionBuilderR4vR1</file>
    <file header="false">ExpressionBuilderR5vR1</file>
    <file header="false">ExpressionBuilderR6vR1</file>
    <file header="false">ExpressionBuilderR7vR1</file>
    <file header="false">ExpressionBuilderR8vR1</file>
    <file header="false">ExpressionBuilderR9vR1</file>
    <file header="false">ExpressionBuilderR10vR1</file>
    <file>ExpressionBuilder</file>
  </files>
</makefile>