<?xml version="1.0" encoding="ISO-8859-1" ?>

<makefile>

  <needed-packages>
    <package name="arcane" />
  </needed-packages>

  <files language="service">
    <file>ZoneModelMng</file>      
  </files>
 
  <files language="c++header">
    <file>IZoneModelMng</file> 
    <file>IZoneModel</file>     
  </files>

</makefile>
