<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
  </needed-packages>
  <files language="c++">
    <file>ColumnPartitionConstraint</file>
  </files>
  <files language="c++header">
    <file>IInitialPartitionerCreator</file>
  </files>
  <files language="service">
    <file header="false">ColumnMeshPartitioner</file>
  </files>
</makefile>