<arcane-config code-name="ArcaneDemo">
  <time-loops>
    <time-loop name="ArcResTimeLoop">
      <title>ArcaneDemoUnitaryTest</title>
      <description>Boucle en temps pour le test unitaire du module Geoxim</description>
      <modules>
        <module name="ArcaneDemo" need="required"/>
        <module name="TwoPhaseFlowSimulation" need="required" />
<!--        <module name="TimeControl" need="required" /> -->
        <module name="PhysicalModel" need="required" />
      </modules>
      <entry-points where="init">
        <entry-point name="TwoPhaseFlowSimulation.Init" />
        <entry-point name="ArcaneDemo.Init" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="TwoPhaseFlowSimulation.Compute" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
