<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
  </needed-packages>
  <files language="c++header">
    <file>ILawConfig</file>
    <file>ILawProperty</file>
  </files>
  <directories>
    <directory>LawProperty</directory>
    <directory>ConstantLaw</directory>
    <directory>RandomLaw</directory>
    <directory>AffineR1vR1Law</directory>
    <directory>TableR1vR1Law</directory>
    <directory>OilDensity</directory>
    <directory>QuadraticRelPermLaw</directory>
    <directory>LinearRelPermLaw</directory>
    <directory>VanGenuchtenLaws</directory>
    <!--directory>CapillaryPressureLogLaw</directory-->
  </directories>
</makefile>
