<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
    <package name="boost" />
  </needed-packages>
  <files language="c++">
    <file>ArcGeoSimMeshRegisterer</file>
  </files>
  <directories>
    <directory>Importers</directory>
    <directory>Exporters</directory>
    <directory>Utils</directory>
    <directory>Interpolator</directory>
    <directory>Geometry</directory>
    <directory>GenericItemExtractor</directory>
    <directory>AMRDataTransfer</directory>
    <directory>Estimator</directory>
    <directory>MeshAdapter</directory>
    <directory>Mapping</directory>
    <directory>PolylineDiscretisation</directory>
    <directory>SurfaceUtils</directory>
    <directory>Operator</directory>
    <directory>AccessorToolsMng</directory>
    <directory>MeshPartitioner</directory>
    <directory depend="ifpsolver">IFPPartitioner</directory>
    <directory>PatchGenerator</directory>
  </directories>
</makefile>
