<?xml version="1.0" encoding="iso-8859-1"?>

<makefile>

  <needed-packages>
    <package name="arcane" />
  </needed-packages>

  <files language="c++">
    <file>PAUUnitsSystem</file>
    <file>CarnotUnitsSystem</file>
    <file>SIUnitsSystem</file>
    <file>PMUUnitsSystem</file>
    <file>UnitsSystem</file>
    <file>PFUUnitsSystem</file>
  </files>

  <files language="c++header">
    <file>IUnitsSystem</file>
  </files>

  <files language="axl">
    <file>PAUUnitsSystem</file>
    <file>SIUnitsSystem</file>
    <file>UnitsSystem</file>
    <file>PMUUnitsSystem</file>
    <file>PFUUnitsSystem</file>
  </files>

</makefile>