<?xml version="1.0" encoding="iso-8859-1"?>

<makefile>

  <needed-packages>
    <package name="arcane" />
    <package name="mpi" />
    <package name="petsc" />
  </needed-packages>

  <files language="service">
    <file header='false'>PETScPrecConfigHypre</file>
    <file header='false'>PETScPrecConfigHypreEuclid</file>
  </files>

</makefile>
