<?xml version="1.0" encoding="iso-8859-1"?>
<makefile>
  <needed-packages>
    <package name="arcane" />
  </needed-packages>
  <files language="service">
    <file header='false'>LinearInterpGridDataFunction</file>
  </files>
  <files language="c++header">
    <file>LinearInterpGridDataInterpolator</file>
    <file>LinearInterpGridDataInterpolatorTools</file>
  </files>
</makefile>